* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

div {
  display: flex;
  width: 70vw;
  height: fit-content;
  max-width: 98vw;
  min-height: fit-content;
  max-height: 100vh;
  border-radius: 1%/2%;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 307px;
  width: 307px;
  padding: 47px;
  align-items: space-evenly;
  justify-content: space-around;
  height: 498px;
}

#sedans {
  background-color: hsl(31, 77%, 52%);
}
#suvs {
  background-color: hsl(184, 100%, 22%);
}
#luxury {
  background-color: hsl(179, 100%, 13%);
}
#sedans button {
  color: hsl(31, 77%, 52%);
}
#suvs button {
  color: hsl(184, 100%, 22%);
}
#luxury button {
  color: hsl(179, 100%, 13%);
}

button {
  margin-top: 12vh;
  height: auto;
  width: fit-content;
  background-color: hsl(0, 0%, 95%);
  padding: 12px 22px;
  border-radius: 22px;
  border: none;
  box-shadow: 1px 1px grey;
}

img {
  width: 63px;
}

h2 {
  color: hsl(0, 0%, 95%);
  font-family: ;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}
